@import "../../../../assets/styles/variables";
.footer {
  background-color: white;
  box-shadow: 0px 0px 13.8px 1.2px rgba(152, 152, 152, 0.2);
  .my-container {
    padding-top: 16px;
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    position: relative;
    .footer-rights {
      position: absolute;
      font-size: 12px;
      font-family: "MullerRegular";
      color: #bab3b3;
      width: 100%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 1000px) {
  .footer {
    .my-container {
      .footer-menu {
        .menu-list {
          margin-left: 0px;
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .footer {
    .my-container {
      .footer-menu {
        .menu-list {
          nav ul {
            li {
              margin-right: 0;
              &:not(:last-child) {
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 635px) {
  .footer {
    display: none;
  }
}
