@import "../../assets/styles/variables";

.main_page {
  padding-top: 132px;
  .my-container {
    .main {
      display: flex;
      align-items: center;
      .left_side {
        max-width: 700px;
        height: 445px;
        .title {
          font-size: 45px;
          font-family: "MullerExtraBold";
          .title_mustard {
            color: $mustard-text-color;
          }
          .title_yellow {
            color: $yellow-text-color;
          }
        }
        .list_of_advantages {
          padding-top: 60px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .item_of_advantage {
            display: flex;
            width: 300px;
            margin-bottom: 47px;
            margin-right: 47px;
            align-items: center;
            .icon {
              padding-right: 16px;
            }
            .text {
              font-size: 16px;

              .title_of_advantage {
                line-height: 24px;
                text-transform: uppercase;
                color: $yellow-light-text-color;
                font-weight: 800;
                font-family: "MullerExtraBold";
              }
              .text_of_advantage {
                line-height: 16px;
                color: $mustard-light-text-color;
                font-family: "MullerRegular";
              }
            }
          }
        }
        .btn {
          background-color: $yellow-light-text-color;
          font-size: 16px;
          line-height: 55px;
          color: #382400;
          font-weight: bold;
          font-family: "MullerBold";
          width: 224px;
          height: 60px;
          cursor: pointer;
        }
      }
    }

    .select_pizza {
      padding-top: 162px;
      .title {
        padding-bottom: 60px;
        font-size: 35px;
        line-height: 55px;
        color: $mustard-light-text-color;
        font-weight: bold;
        font-family: "MullerBold";
        text-align: center;
      }
      .pizza_list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        margin-left: -13px;
        margin-right: -13px;
      }
    }

    .order_form {
      padding-top: 165px;
      padding-bottom: 115px;
      .my-container {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: row;
        .order_form_delivery_text {
          width: 380px;
          .delivery_text_title {
            font-size: 35px;
            font-family: "MullerExtraBold";
            font-weight: bold;
            line-height: 1.286;
            .title_yellow {
              color: $yellow-light-text-color;
            }
            .title_mustard {
              color: $mustard-text-color;
            }
          }
          .delivery_text_description {
            padding-top: 65px;
            font-size: 16px;
            font-family: "MullerRegular";
            color: $mustard-text-color;
            line-height: 1.5;
          }
        }
        .order_form_inputs {
          display: flex;
          flex-direction: column;
          input {
            border: 1px solid $mustard-text-color;
            background-color: white;
            width: 306px;
            height: 58px;
            margin: 12px 0;
            padding-left: 22px;

            &::placeholder {
              color: $mustard-text-color;
              font-size: 18px;
              font-family: "MullerRegular";
            }
          }
          button {
            display: block;
            background-color: rgb(255, 175, 24);
            width: 330px;
            height: 60px;
          }
        }
        .order_form_image {
          position: relative;
          top: 45px;
        }
      }
    }
  }
}
