@import "../../assets/styles/variables";

.main_page {
  padding-top: 132px;
  .my-container {
    .main {
      display: flex;
      align-items: center;
      .left_side {
        max-width: 700px;
        height: 445px;
        .title {
          font-size: 45px;
          font-family: "MullerExtraBold";
          .title_mustard {
            color: $mustard-text-color;
          }
          .title_yellow {
            color: $yellow-text-color;
          }
        }
        .list_of_advantages {
          padding-top: 60px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          .item_of_advantage {
            display: flex;
            width: 300px;
            margin-bottom: 47px;
            margin-right: 47px;
            align-items: center;
            .icon {
              padding-right: 16px;
            }
            .text {
              font-size: 16px;

              .title_of_advantage {
                line-height: 24px;
                text-transform: uppercase;
                color: $yellow-light-text-color;
                font-weight: 800;
                font-family: "MullerExtraBold";
              }
              .text_of_advantage {
                line-height: 16px;
                color: $mustard-light-text-color;
                font-family: "MullerRegular";
              }
            }
          }
        }
        .btn {
          background-color: $yellow-light-text-color;
          font-size: 16px;
          line-height: 55px;
          color: #382400;
          font-weight: bold;
          font-family: "MullerBold";
          width: 224px;
          height: 60px;
          cursor: pointer;
        }
      }
    }

    .select_pizza {
      padding-top: 162px;
      .title {
        padding-bottom: 60px;
        font-size: 35px;
        line-height: 55px;
        color: $mustard-light-text-color;
        font-weight: bold;
        font-family: "MullerBold";
        text-align: center;
      }
      .pizza_list {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: -13px;
        padding-right: -13px;
      }
    }

    .order_form {
      padding-top: 162px;
    }
  }
}
