$container-width: 1240px;

//text colors
$mustard-dark-text-color: #946424;
$mutard-darkest-text-color: #382400;
$mustard-light-text-color: #b89765;
$mustard-text-color: #b99150;
$yellow-text-color: #f2ad47;
$yellow-light-text-color: #ffaf18;
