@import "variables";
@import "fonts";
@import "global";

input.ng-invalid.ng-dirty,
input.ng-invalid.ng-touched {
  border-color: red;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
